<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="listners.Listner"></listener>
</listeners>
  <test thread-count="5" name="listnerTestingx1&amp;2">
    <classes>
      <class name="listners.Testingx2"/>
      <class name="listners.Testingx1"/>
    </classes>
  </test> <!-- listnerTestingx1&2 -->
</suite> <!-- Suite -->
